@model IReadOnlyCollection<TestAttarClone.Domain.Entities.Pages.Page>

@if (Model is not null && Model.Any())
{
    @foreach (var pageItem in Model)
    {
        <a href="/Page/@pageItem.Slug">@pageItem.Title</a>
    }
}

